# Python Review : 데이터구조형

## 데이터 타입에 대한 이해가 중요 !!
>
>- 숫자형 : int, float
>- 문자형 : str
>- 논리형 : boolean
>- 구조형 : list, tuple, set, dict ==> 공통점:elements
>- None
>- function 도 하나의 데이터 타입이다.

## Wrap-up
>
>- list : elements, order, duplicate
>- tuple : elements, order, duplicate, 변경 X
>- set : elements, order X, duplicate X
>- dict : elements, order X, key, value, key duplicate X

## 1. list - elements O, order O, duplicate O

In [1]:
animals = ["dog", "cat", "sheep", "duck", "cow"]

In [2]:
animals[0]

'dog'

In [3]:
animals[1:4] #end는 항상 그 전까지만 표시된다.

['cat', 'sheep', 'duck']

In [4]:
animals[:]

['dog', 'cat', 'sheep', 'duck', 'cow']

In [5]:
animals[::2]

['dog', 'sheep', 'cow']

In [6]:
animals[-1]

'cow'

In [7]:
animals[::-1]

['cow', 'duck', 'sheep', 'cat', 'dog']

In [8]:
for animal in animals:  
    print(animal)

dog
cat
sheep
duck
cow

In [9]:
size = len(animals)
for i in range(size):
    animal = animals[i]
    print(animal)

dog
cat
sheep
duck
cow

In [10]:
# for Ex1
bts_members = ['RM', '슈가', '진', '제이홉', '지민', '뷔', '정국']
num = 0

for member in bts_members:
    num += 1
    print('멤버%d ====> %s  \t(이름길이: %d)' %(num, member, len(member)))

멤버1 ====> RM  	(이름길이: 2)
멤버2 ====> 슈가  	(이름길이: 2)
멤버3 ====> 진  	(이름길이: 1)
멤버4 ====> 제이홉  	(이름길이: 3)
멤버5 ====> 지민  	(이름길이: 2)
멤버6 ====> 뷔  	(이름길이: 1)
멤버7 ====> 정국  	(이름길이: 2)

In [11]:
# for Ex1
bts_members = ['RM', '슈가', '진', '제이홉', '지민', '뷔', '정국']
num = 0

for member in bts_members:
    num += 1
    print('멤버{0} ====> {1}  \t(이름길이: {2})'.format(num, member, len(member)))
    #print('멤버{no} ====> {mb}  \t(이름길이: {ln})'.format(no=num, mb=member, ln=len(member)))

멤버1 ====> RM  	(이름길이: 2)
멤버2 ====> 슈가  	(이름길이: 2)
멤버3 ====> 진  	(이름길이: 1)
멤버4 ====> 제이홉  	(이름길이: 3)
멤버5 ====> 지민  	(이름길이: 2)
멤버6 ====> 뷔  	(이름길이: 1)
멤버7 ====> 정국  	(이름길이: 2)

In [12]:
bts_members[3] = "J-hope"
bts_members

['RM', '슈가', '진', 'J-hope', '지민', '뷔', '정국']

In [13]:
type(bts_members)

list

## Tuple

In [14]:
girl_groups = ('트와이스', '레드벨벳', '에이핑크', '걸스데이', '우주소녀')

In [15]:
type(girl_groups)

tuple

In [16]:
girl_groups[2]

'에이핑크'

In [17]:
girl_groups[2] = 'APINK' #튜플은 값을 바꿀 수 없다.

TypeError: 'tuple' object does not support item assignment

In [18]:
#바꾸는 방법: list로 변환 후 수정
girl_groups = list(girl_groups)
girl_groups[2] ='A-Pink'
girl_groups = tuple(girl_groups)

girl_groups

('트와이스', '레드벨벳', 'A-Pink', '걸스데이', '우주소녀')

## 2. set (집합) - elements O, order X, duplicate X

In [19]:
#beast = set(["lion", "tiger", "wolf", "tiger", "lion" ]) 동일한 코드
beast = {"lion", "tiger", "wolf", "tiger", "lion"}

In [20]:
beast

{'lion', 'tiger', 'wolf'}

In [21]:
data = set('abracadabra')
data

{'a', 'b', 'c', 'd', 'r'}

In [22]:
data = sorted(data)
data

['a', 'b', 'c', 'd', 'r']

## 3. dict - elements O, (key, value) O

In [23]:
customer = {
    "name"    : "김진수",
    'gender'  : '남자',
    "email"   : "bigpycraft@gmail.com",
    "company" : "빅파이크래프트",
    "address" : "서울시 노원구 월계로"
}

In [24]:
customer.keys()

dict_keys(['name', 'gender', 'email', 'company', 'address'])

In [25]:
customer.values()

dict_values(['김진수', '남자', 'bigpycraft@gmail.com', '빅파이크래프트', '서울시 노원구 월계로'])

In [26]:
for something in customer:
    print(something)    # key값

name
gender
email
company
address

In [27]:
for key in customer:
    value = customer[key]
    print("%s ==> %s" %(key, value)) #value값

name ==> 김진수
gender ==> 남자
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로

In [28]:
# String Formatting
"%s, %s" % ("hello", "김진수")

# pros : 쉽다.
# cons : 일단은 내부적으로 치환되는 부분(%) 이 있을때 복잡

'hello, 김진수'

In [29]:
a = "Hi"
b = "Goodbye"
b
a
#쥬피터에서는 print를 사용하지 않으면 맨 마지막 변수만 출력
#둘 다 출력하기 위해선 print 써줘야 한다.

'Hi'

In [30]:
(a,b) = (1,2)
# a,b = 1,2 #Tuple은 ()를 생략 가능!!
a,b

(1, 2)

In [31]:
"{name}: {greeting}, {name}".format(
    greeting = "안녕하세요",   # kwargs
    name = "김진수"
)

'김진수: 안녕하세요, 김진수'

In [32]:
customer.items() #튜플 형식으로 key, value 값을 뿌려줌

dict_items([('name', '김진수'), ('gender', '남자'), ('email', 'bigpycraft@gmail.com'), ('company', '빅파이크래프트'), ('address', '서울시 노원구 월계로')])

In [33]:
for key, value in customer.items():
    print(key, value)

name 김진수
gender 남자
email bigpycraft@gmail.com
company 빅파이크래프트
address 서울시 노원구 월계로

In [34]:
for something in customer.items():
    print(something)

('name', '김진수')
('gender', '남자')
('email', 'bigpycraft@gmail.com')
('company', '빅파이크래프트')
('address', '서울시 노원구 월계로')

In [35]:
for key, value in customer.items():
    print("{key} ==> {value}".format(
        key   = key,
        value = value,
    ))

name ==> 김진수
gender ==> 남자
email ==> bigpycraft@gmail.com
company ==> 빅파이크래프트
address ==> 서울시 노원구 월계로

In [36]:
for key, value in customer.items():
    print("{key} {space} ==> {value}".format(
        key   = key,
        space = ' '*(7-len(key)), #제일 긴 문자열이 company, address로 7글자
        value = value,
    ))

name     ==> 김진수
gender   ==> 남자
email    ==> bigpycraft@gmail.com
company  ==> 빅파이크래프트
address  ==> 서울시 노원구 월계로

## 4. tuple - elements O, order O, duplicate O, 변경될 수 있는가? X
>
- 변경되지 않는 자료형
- 파이썬 내부적으로, 라이브러리 => dict!

In [37]:
# 직사각형
width = 100
height = 200

data = (100, 200)

In [38]:
width, height = data    # data라고 하는 값 x

In [39]:
def getArea(w, h):
    area = w * h
    return area

In [40]:
area = getArea(*data)
area

20000

## 실습

### Step1. 데이터 읽어오기

In [41]:
books = []
books.append({'제목' :'파이썬 프로그램','출판연도':'2016','출판사':'A','쪽수':200,'추천유무':False})
books.append({'제목' :'플랫폼 비즈니스','출판연도':'2013','출판사':'B','쪽수':584,'추천유무':True})
books.append({'제목' :'빅데이터 마케팅','출판연도':'2014','출판사':'A','쪽수':296,'추천유무':True})
books.append({'제목' :'외식경영 전문가','출판연도':'2010','출판사':'B','쪽수':526,'추천유무':False})
books.append({'제목' :'십억만 벌어보자','출판연도':'2013','출판사':'A','쪽수':248,'추천유무':True})

### Step2. 변수들을 선언 (입출력데이터 관련변수)

### Step3. 비즈니스 로직 (데이터프로세싱 및 알고리즘)

In [42]:
#Step2
many_page = []
recommends = []
all_pages = 0
pub_companies = set()

#Step3
for book in books:
    if book["쪽수"] > 250:
        many_page.append(book["제목"])

    if book["추천유무"] == True: #book["추천유무"] 값 자체가 True라 book["추천유무"]만 줘도 됨
        recommends.append(book["제목"])
        
    all_pages += book["쪽수"]
    
    pub_companies.add(book["출판사"])

## Pythonic Code
> Tip. 줄번호 보기: Esc + l (알파벳 L)

In [43]:
many_page = [book["제목"] for book in books if book["쪽수"] > 250]
recommends = [book["제목"] for book in books if book["추천유무"]]
all_pages = sum([book["쪽수"] for book in books])
pub_companies = {book["출판사"] for book in books}

### Step4. 결과값 리포터 (화면 출력)

In [44]:
#최종 보고서 출력
print(" ### 도서 목록 출력 내용 ### \n", "_"*90)
print(" 1. 쪽수가 250p 넘는 책 리스트:", many_page)
print(" 2. 내가 추천하는 책 리스트: ", recommends)
print(" 3. 내가 읽은 책 전체 쪽수: ",all_pages)
print(" 4. 내가 읽은 책의 출판사 목록: ", sorted(pub_companies))

 ### 도서 목록 출력 내용 ###
 __________________________________________________________________________________________
 1. 쪽수가 250p 넘는 책 리스트: ['플랫폼 비즈니스', '빅데이터 마케팅', '외식경영 전문가']
 2. 내가 추천하는 책 리스트:  ['플랫폼 비즈니스', '빅데이터 마케팅', '십억만 벌어보자']
 3. 내가 읽은 책 전체 쪽수:  1854
 4. 내가 읽은 책의 출판사 목록:  ['A', 'B']