# Python Review : 함수

## 함수 생성

#### 함수의 특징
>- 입력값
>- 출력값
>- 함수명

In [1]:
def add_txt(t1, t2):
    print(t1+t2)

In [2]:
text1 = '파이썬~'
text2 = '최고!!'
add_txt(text1, text2)

파이썬~최고!!

In [3]:
def add_number(n1, n2):
    result = n1+n2
    return result

In [4]:
ans = add_number(10, 15)
print(ans)

25

## 함수 인자

In [5]:
def add_txt(t1, t2='파이썬'):
    print(t1+' : ' +t2)

In [6]:
add_txt('베스트')

베스트 : 파이썬

In [7]:
add_txt(t2='대한민국', t1='1등')

1등 : 대한민국

In [8]:
def func1(*args): #여러개 인자가 들어올 수 있음
    print(args)

def func2(width, height, **kwargs): #key:value 값으로 나오게 할 때
    print(kwargs)

In [9]:
func1()
func1(3, 5, 1, 5)

()
(3, 5, 1, 5)

In [10]:
func2(10, 20)  
func2(10, 20, depth=50, color='blue')

{}
{'depth': 50, 'color': 'blue'}

### 예제

In [11]:
# Arbitrary Arguments, 가변 인자 리스트 활용
def introduceMyFamily(my_name, *family_names, **family_info): #여러 인자가 들어오는 경우는 한 함수당 한 개만 사용해야 한다.
    print('안녕하세요, 저는 %s 입니다.'%(my_name))
    print('-'*35)
    print('제 가족들의 이름은 아래와 같아요. ')
    
    for name in family_names:
        print('* %s ' % (name), end='\t')
    else:
        print()
    print('-' * 35)
    
    for key in family_info.keys(): #family_info.items() 활용 가능
        print('- %s : %s ' %(key, family_info[key]))

In [12]:
introduceMyFamily('진수', '희영', '찬영', '준영', '채영',
                  주소='롯데캐슬', 가훈='극기상진', 소망='세계일주')

안녕하세요, 저는 진수 입니다.
-----------------------------------
제 가족들의 이름은 아래와 같아요.
* 희영 	* 찬영 	* 준영 	* 채영
-----------------------------------
- 주소 : 롯데캐슬
- 가훈 : 극기상진
- 소망 : 세계일주

## 지역변수와 전역변수(global)

In [13]:
param = 10
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)

def func2(param):
    param = 1

def func3():
    global param
    param = 50

In [14]:
func1()
print(strdata) 
print(param)

지역변수
전역변수
10

In [15]:
func2(param)
print(param)

10

In [16]:
func3()
print(param)

50

## 함수 출력

In [17]:
def reverse(x, y, z):
    return z, y, x

In [18]:
ret  = reverse(1, 2, 3)
print(ret)

(3, 2, 1)

In [19]:
r1, r2, r3 = reverse('a', 'b', 'c')
print(r1); print(r2); print(r3)

c
b
a

## 함수 리팩토링

# add ( 더한다 )

# add1(10, 20) => 30
# add2(10, 20, 30) => 60
# add3([10, 20, 30]) => 60
# add44(10, 20, 30, 40) => 100

In [20]:
# 일반적으로 두개를 다 되게 하려면 둘다 정의
def add1(a, b):
    return a + b

def add2(a, b, c):
    return a + b + c

In [21]:
add1(10, 20)

30

In [22]:
add1(10, 20, 30) #파라미터 개수에 맞게 매칭을 해줘야 한다.

TypeError: add1() takes 2 positional arguments but 3 were given

In [23]:
add2(10, 20, 30)

60

In [24]:
add2(10, 20)

TypeError: add2() missing 1 required positional argument: 'c'

In [25]:
# 2개 혹은 3개의 숫자 더하기
def add2(a, b, c=0):
    return a + b + c

In [26]:
add2(10, 20) #고정 된 값이 있으면 매개변수가 3개여도 2개만 넘길 수 있다.

30

In [27]:
add2(10, 20, 30)

60

In [28]:
# 기본 자료형
def add3(numbers):   # 숫자 리스트를 받아서, 합을 리턴하는 함수
    sum = 0
    for num in numbers:
        sum += num
        
    return sum

In [29]:
add3([10, 20, 30, 40])   # 리스트

100

In [30]:
add3((10, 20, 30, 40))   # 튜플

100

In [31]:
add3(10, 20, 30, 40)     # 튜플? 가변인자

TypeError: add3() takes 1 positional argument but 4 were given

## Packing & Unpacking

In [32]:
# 기본 자료형
def add4(*numbers):   # 숫자 리스트를 받아서, 합을 리턴하는 함수
    sum = 0
    for num in numbers:
        sum += num
        
    return sum

In [33]:
add4(10, 20, 30, 40)

100

In [34]:
def add(a, b):
    return a + b

add(10, 20)

30

In [35]:
data = (10, 20)   #Tuple

In [36]:
add(data)

TypeError: add() missing 1 required positional argument: 'b'

In [37]:
add(*data)     # unpacking

30

In [38]:
# *args
# **kvargs

def introduce(name, greeting):
    return "{name}님, {greeting}".format(
        name=name,
        greeting=greeting,
    )

In [39]:
introduce_dict = {
    "name" : "김진수",
    "greeting" : "안녕하세요",
}

In [40]:
introduce(**introduce_dict)

'김진수님, 안녕하세요'

## 람다함수 및 내장함수

>- 함수 정의와 호출
>- 변수의 유효 범위
>- 람다(lambda) 함수
>- 유용한 내장 함수

## 람다(lambda) 함수 

- 함수를 남발하면 유지보수가 어렵기 때문에 람다함수는 1. 정말 간단한 함수이거나 2. 일회성 함수에 사용한다

In [41]:
(lambda x : x**2) (3)

9

In [42]:
mySquare = lambda x : x**2
mySquare(2)

4

In [43]:
mySquare(5)

25

In [44]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

11

In [45]:
func = lambda x,y : x**2 + 2*y
func(2, 3), func(3, 2)

(10, 13)

## 유용한 내장 함수

### 형 변환 함수

#### 정수형으로 변환

In [46]:
[int(0.123), int(3.5123456), int(-1.312367)]

[0, 3, -1]

In [47]:
[int('1234'), int('5678'), int('-9012')]

[1234, 5678, -9012]

#### 실수형으로 변환

In [48]:
[float(0), float(123), float(-567)]

[0.0, 123.0, -567.0]

In [49]:
[float('10'), float('0.123'), float('-567.89')]

[10.0, 0.123, -567.89]

#### 문자형으로 변환

In [50]:
[str(123), str(459678), str(-987)]

['123', '459678', '-987']

In [51]:
[str(0.123), str(345.678), str(-5.987)]

['0.123', '345.678', '-5.987']

#### 리스트, 튜플, 세트형으로 변환

In [52]:
list_data  = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data   = {'abc', 1, 2, 'def'}

In [53]:
[type(list_data), type(tuple_data), type(set_data)]

[list, tuple, set]

In [54]:
print("리스트로 변환: ", list(tuple_data), list(set_data))

리스트로 변환:  ['abc', 1, 2, 'def'] [1, 'abc', 2, 'def']

In [55]:
print("튜플로 변환:", tuple(list_data), tuple(set_data))

튜플로 변환: ('abc', 1, 2, 'def') (1, 'abc', 2, 'def')

In [56]:
print("세트로 변환:", set(list_data), set(tuple_data))

세트로 변환: {1, 'abc', 2, 'def'} {1, 'abc', 2, 'def'}

### bool 함수

#### 숫자를 인자로 bool 함수 호출

In [57]:
bool(0) # 인자: 숫자 0, ★이 경우 False

False

In [58]:
bool(1) # 인자: 양의 정수

True

In [59]:
bool(-10) # 인자: 음의 정수

True

In [60]:
bool(5.12) # 인자: 양의 실수

True

In [61]:
bool(-3.26) # 인자: 음의 실수

True

#### 문자를 인자로 bool 함수 호출

In [62]:
bool('a') # 인자: 문자열 'a'

True

In [63]:
bool(' ') # 인자: 빈 문자열(공백)

True

In [64]:
bool('') # 인자: 문자열 없음 ★이 경우 False

False

In [65]:
bool(None) #인자: None ★이 경우 False

False

#### 리스트, 튜플, 세트를 인자로 bool 함수 호출

In [66]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트 ★이 경우 False

False

In [67]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

True

In [68]:
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플 ★이 경우 False

False

In [69]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

True

In [70]:
mySetA = {} 
bool(mySetA) # 인자: 항목이 없는 빈 세트 ★이 경우 False

False

In [71]:
mySetA = {10,20,30}
bool(mySetA) # 인자: 항목이 있는 세트

True

#### bool 함수의 활용

In [72]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [73]:
print_name("진수")

입력된 이름: 진수

In [74]:
print_name("")

입력된 이름이 없습니다.

### 최소값과 최대값을 구하는 함수

In [75]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

[0, 99.5]

In [76]:
myStr = 'zxyabc' #아스키코드로 변환되어 비교 가능해진다.
[min(myStr), max(myStr)]

['a', 'z']

In [77]:
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

[0, 99.5]

In [78]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

['Abc', 'efg']

### 절대값과 전체 합을 구하는 함수

In [79]:
[abs(10), abs(-10)]

[10, 10]

In [80]:
[abs(2.45), abs(-2.45)]

[2.45, 2.45]

In [81]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

55

### 항목의 개수를 구하는 함수

In [82]:
len("ab cd") # 문자열

5

In [83]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [84]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [85]:
len({'a', 'b', 'c', 'd'}) # 세트

4

In [86]:
len({1:"Thomas", 2:"Edward", 3:"Henry"}) # 딕셔너리

3

### 내장 함수의 활용

In [87]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

score_sum = 0                     # 총점 계산을 위한 초깃값 설정
subject_num = 0                   # 과목수 계산을 위한 초깃값 설정
for score in scores:
    score_sum = score_sum + score # 과목별 점수 모두 더하기
    subject_num = subject_num + 1 # 과목수 계산
    
average = score_sum / subject_num # 평균(총점 / 과목수) 구하기

print("총점:{0}, 평균:{1}".format(score_sum,average))

총점:350, 평균:87.5

In [88]:
scores = [90, 80, 95, 85] # 과목별 시험 점수

print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))

총점:350, 평균:87.5

In [89]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))

최하 점수:80, 최고 점수:95